body {
    font-family: 'Open Sans', sans-serif; 
    background-image: url(sun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}

.topnav {
    padding: 20px 0px;
    text-align: center;
    background-color: #425700;
    border:2px solid black;
}

/* Targets just <a> tags inside of the <nav class="topnav"> */
.topnav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 600;
}
/*.logo {
    color: white;
}*/

/* Targets just <a> tags inside of the <nav class="topnav">,
   when mouse is hovering over it: 
*/
.topnav a:hover {
    text-decoration: none;
    color: black;
    background-color: yellow;
}
h1 {
    color: yellow;
    text-align: center;
    padding-top:80px;
    font-size: 48px;
}
.Camp {
    background-color: #663300;
    height:200px;
    background: linear-gradient(#73400d, seagreen);
    font-family: 'Leckerli One', cursive;

}
.cc {
    padding-top:20px;
    width: 80%;
}
img {
    padding-top: 5%;
}
.title {
    font-size: 60px;
    padding-top: 1%;
}
.title2 {
    font-size: 48px;
    padding-top: 3%;
}
.title3 {
    font-size: 48px;
    padding-top: 3%;
}
.fanpage {
    background: linear-gradient(seagreen, #73400d);
    height:1050px;
    width: 80%;
    text-align: center;
    /*opacity: 0.5;*/
}
.fanpage2 {
    background: linear-gradient(seagreen, #73400d);
    height:2000px;
    width: 80%;
    text-align: center;
    /*opacity: 0.5;*/
}
.about {
    text-align: center;
    font-size: 30px;
}
.intro {
    font-size: 20px;
}
.trio {
    font-size: 30px;
    margin: center;
}
.Co {
    font-size: 30px;
    margin: center;
}
.NnN {
    font-size: 20px;
    text-align: center;
}
.DnG {
    font-size: 20px;
    text-align: right;
}
p {
    color: black
}
footer {
    border-top: 1px solid white;
    margin-top: 40px;
    color: white;
}
div:hover {
    opacity:1.0;
    filter:alpha(opacity=100);
}

img {
    padding-top: 5%;
}
/*.maxp {
        margin: 210px 109px;
}*/
img {
    padding-top: 5%;
}


